[submodule "External/LLUtils"]
	path = External/LLUtils
	url = https://github.com/TheNicker/LLUtils.git
[submodule "External/libwebp"]
	path = External/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "External/libpsd"]
	path = External/libpsd
	url = https://github.com/TheNicker/libpsd.git
[submodule "External/libpng"]
	path = External/libpng
	url = https://github.com/OpenImageViewer/libpng.git
[submodule "External/zlib"]
	path = External/zlib
	url = https://github.com/OpenImageViewer/zlib.git
[submodule "External/libgif"]
	path = External/libgif
	url = https://github.com/OpenImageViewer/libgif.git
[submodule "External/libtiff"]
	path = External/libtiff
	url = https://github.com/OpenImageViewer/libtiff.git
[submodule "External/libjpeg-turbo"]
	path = External/libjpeg-turbo
	url = https://github.com/OpenImageViewer/libjpeg-turbo.git
[submodule "External/bintools"]
	path = External/bintools
	url = https://github.com/OpenImageViewer/bintools.git
[submodule "External/tinyxml2"]
	path = External/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "External/TinyEXIF"]
	path = External/TinyEXIF
	url = https://github.com/OpenImageViewer/TinyEXIF.git
